{% extends 'base.html' %}
{% block content %}

<h1>{{game.name}} </h1>

<div class="card">
  <div class="card-content">
    {% for photo in game.photo_set.all %}
      <img src="{{photo.url}}" class="responsive-img card-panel">
    {% empty %}
      <div class="card-panel center-align">No Photos Uploaded</div>
    {% endfor %}
    <h6>Description: {{ game.description }}</h6>
    <p>Number of Players: {{ game.numPlayers }}</p>
  </div>
  <a href="{% url 'games_update' game.id %}" class="btn">Edit</a>
  <a href="{% url 'games_delete' game.id %}" class="btn">Delete</a>
</div>

<!-- Add photos markup below -->

<form action="{% url 'add_photo' game.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
  {% csrf_token %}
  <input type="file" name="photo-file">
  <br><br>
  <input type="submit" class="btn" value="Upload Photo">
</form>

<hr>
<div class="row">
  <div class="col s6">
    <h3>Stores:</h3>
    {% if game.stores.count %}
      {% for store in game.stores.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <span>{{ store.name }}: </span> {{ store.location }}
            </span>
            <div class="card-action">
                <form action="{% url 'unassoc_store' game.id store.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn">Delete</button>
                </form>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Stores Added Yet :(</h5>
    {% endif %}
  </div>
  <div class="col s6">
    <h3>Available Stores</h3>
    {% if stores.count %}
      {% for store in stores.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <span>{{ store.name }}</span> {{ store.location }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_store' game.id store.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{game.name}} is available in all stores</h5>
    {% endif %}
  </div>  
</div>

{% endblock %}